<a href="https://colab.research.google.com/github/Likelipop/Data-mining/blob/main/Code1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

df = pd.read_csv("/content/data.csv")
df.set_index("ID", inplace = True)
df

   First Name Last Name  Age  Gender Department   Salary Date of joining
ID
1        John       Doe  25.0      M      Sales  50000.0        1/1/2020
2        jane     Smith  30.0      F  Marketing  60000.0        6/1/2018
3         Bod   Johnson  45.0      M         HR  70000.0        9/1/2016
4       Alice  Williams  33.0      F         IT  80000.0        2/1/2017
5       James     Brown  27.0      M      Sales  55000.0        3/1/2019
6       Sarah       Lee   NaN      F  Marketing  65000.0       12/1/2018
7     Michael     Davis  39.0      M         HR      NaN        8/1/2015
8       Susan    Miller  42.0      F         IT   9000.0       11/1/2014
9       David    Wilson  28.0      M      Sales  60000.0        5/1/2020
10      Emily     Brown  35.0      F  Marketing  55000.0        4/1/2017
11       John       Doe  25.0      M      Sales  50000.0        1/1/2020
12       John       Doe  25.0      M      Sales  50000.0        1/1/2020

In [48]:
df.columns = [a.strip() for a in df.columns]

In [49]:
print(df.isnull().sum())

First Name         0
Last Name          0
Age                1
Gender             0
Department         0
Salary             1
Date of joining    0
dtype: int64

In [50]:
df["Age"] = df["Age"].fillna(df["Age"].mean())
df["Salary"] = df["Salary"].fillna(df['Salary'].mean())

In [51]:
print(df.duplicated().sum())

2

In [52]:
df = df.drop_duplicates()
print(df)

   First Name Last Name        Age Gender Department        Salary Date of joining
ID
1        John       Doe  25.000000      M      Sales  50000.000000        1/1/2020
2        jane     Smith  30.000000      F  Marketing  60000.000000        6/1/2018
3         Bod   Johnson  45.000000      M         HR  70000.000000        9/1/2016
4       Alice  Williams  33.000000      F         IT  80000.000000        2/1/2017
5       James     Brown  27.000000      M      Sales  55000.000000        3/1/2019
6       Sarah       Lee  32.181818      F  Marketing  65000.000000       12/1/2018
7     Michael     Davis  39.000000      M         HR  54909.090909        8/1/2015
8       Susan    Miller  42.000000      F         IT   9000.000000       11/1/2014
9       David    Wilson  28.000000      M      Sales  60000.000000        5/1/2020
10      Emily     Brown  35.000000      F  Marketing  55000.000000        4/1/2017

In [53]:
df = pd.get_dummies(df, columns = ['Gender','Department'], dtype ='int' )

In [54]:
df

   First Name Last Name        Age  ...  Department_IT Department_Marketing  Department_Sales
ID                                  ...
1        John       Doe  25.000000  ...              0                    0                 1
2        jane     Smith  30.000000  ...              0                    1                 0
3         Bod   Johnson  45.000000  ...              0                    0                 0
4       Alice  Williams  33.000000  ...              1                    0                 0
5       James     Brown  27.000000  ...              0                    0                 1
6       Sarah       Lee  32.181818  ...              0                    1                 0
7     Michael     Davis  39.000000  ...              0                    0                 0
8       Susan    Miller  42.000000  ...              1                    0                 0
9       David    Wilson  28.000000  ...              0                    0                 1
10      Emily     Brown  35.000000  ...              0                    1                 0

[10 rows x 11 columns]

In [55]:
df['Date of joining'] = pd.to_datetime(df['Date of joining'])
df['month'] = df['Date of joining'].dt.month
df['day_of_week'] = df['Date of joining'].dt.day_name()
df = df.drop('Date of joining', axis =1)
df

   First Name Last Name        Age  ...  Department_Sales  month  day_of_week
ID                                  ...
1        John       Doe  25.000000  ...                 1      1    Wednesday
2        jane     Smith  30.000000  ...                 0      6       Friday
3         Bod   Johnson  45.000000  ...                 0      9     Thursday
4       Alice  Williams  33.000000  ...                 0      2    Wednesday
5       James     Brown  27.000000  ...                 1      3       Friday
6       Sarah       Lee  32.181818  ...                 0     12     Saturday
7     Michael     Davis  39.000000  ...                 0      8     Saturday
8       Susan    Miller  42.000000  ...                 0     11     Saturday
9       David    Wilson  28.000000  ...                 1      5       Friday
10      Emily     Brown  35.000000  ...                 0      4     Saturday

[10 rows x 12 columns]

In [61]:
df1 = df.drop(['First Name','Last Name','day_of_week'], axis= 1)
array = df1.values
print("Truoc khi bo cac gia tri nngoai lai\n",pd.DataFrame(array))

scaler = preprocessing.RobustScaler()
robust_df1 = scaler.fit_transform(array)
robust_df = pd.DataFrame(robust_df1)
robust_df
print("\n Sau khi bo cac gia tri ngoai lai\n", robust_df)

Truoc khi bo cac gia tri nngoai lai
            0             1    2    3    4    5    6    7     8
0  25.000000  50000.000000  0.0  1.0  0.0  0.0  0.0  1.0   1.0
1  30.000000  60000.000000  1.0  0.0  0.0  0.0  1.0  0.0   6.0
2  45.000000  70000.000000  0.0  1.0  1.0  0.0  0.0  0.0   9.0
3  33.000000  80000.000000  1.0  0.0  0.0  1.0  0.0  0.0   2.0
4  27.000000  55000.000000  0.0  1.0  0.0  0.0  0.0  1.0   3.0
5  32.181818  65000.000000  1.0  0.0  0.0  0.0  1.0  0.0  12.0
6  39.000000  54909.090909  0.0  1.0  1.0  0.0  0.0  0.0   8.0
7  42.000000   9000.000000  1.0  0.0  0.0  1.0  0.0  0.0  11.0
8  28.000000  60000.000000  0.0  1.0  0.0  0.0  0.0  1.0   5.0
9  35.000000  55000.000000  1.0  0.0  0.0  0.0  1.0  0.0   4.0

 Sau khi bo cac gia tri ngoai lai
           0         1    2    3    4    5         6         7         8
0 -0.799043 -0.850515 -0.5  0.5  0.0  0.0  0.000000  1.333333 -0.818182
1 -0.272727  0.283505  0.5 -0.5  0.0  0.0  1.333333  0.000000  0.090909
2  1.306220  1.417526 -0.5  0.5  1.0  0.0  0.000000  0.000000  0.636364
3  0.043062  2.551546  0.5 -0.5  0.0  1.0  0.000000  0.000000 -0.636364
4 -0.588517 -0.283505 -0.5  0.5  0.0  0.0  0.000000  1.333333 -0.454545
5 -0.043062  0.850515  0.5 -0.5  0.0  0.0  1.333333  0.000000  1.181818
6  0.674641 -0.293814 -0.5  0.5  1.0  0.0  0.000000  0.000000  0.454545
7  0.990431 -5.500000  0.5 -0.5  0.0  1.0  0.000000  0.000000  1.000000
8 -0.483254  0.283505 -0.5  0.5  0.0  0.0  0.000000  1.333333 -0.090909
9  0.253589 -0.283505  0.5 -0.5  0.0  0.0  1.333333  0.000000 -0.272727

In [64]:
scaler = preprocessing.StandardScaler()
standard = scaler.fit_transform(array)
standard_df = pd.DataFrame(standard)
print("Chuan hoa du lieu \n", pd.DataFrame(standard))

scaler = preprocessing.MinMaxScaler()
minmax = scaler.fit_transform(array)
minmax_df = pd.DataFrame(minmax, index = df.index)
print('Scaling du lieu: \n', minmax_df)

Chuan hoa du lieu
           0         1    2    3    4    5         6         7         8
0 -1.369782 -0.332811 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -1.420508
1 -0.575077  0.232146  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654 -0.027853
2  1.809037  0.797102 -1.0  1.0  2.0 -0.5 -0.654654 -0.654654  0.807740
3 -0.098254  1.362058  1.0 -1.0 -0.5  2.0 -0.654654 -0.654654 -1.141977
4 -1.051900 -0.050332 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -0.863446
5 -0.228297  0.514624  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654  1.643333
6  0.855391 -0.055468 -1.0  1.0  2.0 -0.5 -0.654654 -0.654654  0.529209
7  1.332214 -2.649132  1.0 -1.0 -0.5  2.0 -0.654654 -0.654654  1.364802
8 -0.892959  0.232146 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -0.306384
9  0.219627 -0.050332  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654 -0.584915
Scaling du lieu:
            0         1    2    3    4    5    6    7         8
ID
1   0.000000  0.577465  0.0  1.0  0.0  0.0  0.0  1.0  0.000000
2   0.250000  0.718310  1.0  0.0  0.0  0.0  1.0  0.0  0.454545
3   1.000000  0.859155  0.0  1.0  1.0  0.0  0.0  0.0  0.727273
4   0.400000  1.000000  1.0  0.0  0.0  1.0  0.0  0.0  0.090909
5   0.100000  0.647887  0.0  1.0  0.0  0.0  0.0  1.0  0.181818
6   0.359091  0.788732  1.0  0.0  0.0  0.0  1.0  0.0  1.000000
7   0.700000  0.646607  0.0  1.0  1.0  0.0  0.0  0.0  0.636364
8   0.850000  0.000000  1.0  0.0  0.0  1.0  0.0  0.0  0.909091
9   0.150000  0.718310  0.0  1.0  0.0  0.0  0.0  1.0  0.363636
10  0.500000  0.647887  1.0  0.0  0.0  0.0  1.0  0.0  0.272727

In [66]:
df2 = standard_df.copy()
df2['equi_with_column0'] = pd.cut(x = df2[0], bins = 10)
print('Roi rac hoa cot 0 bang 10 equi width ranges: \n', df2)

Roi rac hoa cot 0 bang 10 equi width ranges:
           0         1    2    3    4    5         6         7         8  equi_with_column0
0 -1.369782 -0.332811 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -1.420508   (-1.373, -1.052]
1 -0.575077  0.232146  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654 -0.027853   (-0.734, -0.416]
2  1.809037  0.797102 -1.0  1.0  2.0 -0.5 -0.654654 -0.654654  0.807740     (1.491, 1.809]
3 -0.098254  1.362058  1.0 -1.0 -0.5  2.0 -0.654654 -0.654654 -1.141977    (-0.0983, 0.22]
4 -1.051900 -0.050332 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -0.863446   (-1.373, -1.052]
5 -0.228297  0.514624  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654  1.643333  (-0.416, -0.0983]
6  0.855391 -0.055468 -1.0  1.0  2.0 -0.5 -0.654654 -0.654654  0.529209     (0.538, 0.855]
7  1.332214 -2.649132  1.0 -1.0 -0.5  2.0 -0.654654 -0.654654  1.364802     (1.173, 1.491]
8 -0.892959  0.232146 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -0.306384   (-1.052, -0.734]
9  0.219627 -0.050332  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654 -0.584915    (-0.0983, 0.22]

In [68]:
df3 = standard_df.copy()
df3['equi_depth_column0'] = pd.qcut(x = df3[0], q = 10)
print('Roi rac hoa cot 0 bang 10 equi width ranges: \n', df3)

Roi rac hoa cot 0 bang 10 equi width ranges:
           0         1    2    3    4    5         6         7         8 equi_depth_column0
0 -1.369782 -0.332811 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -1.420508   (-1.371, -1.084]
1 -0.575077  0.232146  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654 -0.027853    (-0.67, -0.367]
2  1.809037  0.797102 -1.0  1.0  2.0 -0.5 -0.654654 -0.654654  0.807740      (1.38, 1.809]
3 -0.098254  1.362058  1.0 -1.0 -0.5  2.0 -0.654654 -0.654654 -1.141977   (-0.163, 0.0289]
4 -1.051900 -0.050332 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -0.863446   (-1.084, -0.925]
5 -0.228297  0.514624  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654  1.643333   (-0.367, -0.163]
6  0.855391 -0.055468 -1.0  1.0  2.0 -0.5 -0.654654 -0.654654  0.529209      (0.41, 0.951]
7  1.332214 -2.649132  1.0 -1.0 -0.5  2.0 -0.654654 -0.654654  1.364802      (0.951, 1.38]
8 -0.892959  0.232146 -1.0  1.0 -0.5 -0.5 -0.654654  1.527525 -0.306384    (-0.925, -0.67]
9  0.219627 -0.050332  1.0 -1.0 -0.5 -0.5  1.527525 -0.654654 -0.584915     (0.0289, 0.41]